{% extends 'base.html.twig' %}

{% block title %}Dossier index{% endblock %}

{% block body %}
    <h1>Dossier list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Address</th>
                <th>CreditCard</th>
                <th>Cvv</th>
                <th>Active</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for dossier in dossiers %}
            <tr>
                <td>{{ dossier.id }}</td>
                <td>{{ dossier.type }}</td>
                <td>{{ dossier.name }}</td>
                <td>{{ dossier.surname }}</td>
                <td>{{ dossier.address }}</td>
                <td>{{ dossier.creditCard }}</td>
                <td>{{ dossier.cvv }}</td>
                <td>{{ dossier.active ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('dossier_show', {'id': dossier.id}) }}">show</a>
                    <a href="{{ path('dossier_edit', {'id': dossier.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('dossier_new') }}">Create new</a>
{% endblock %}
